.about {
    position: relative;
    padding-top: 11vh !important;
}

.aboutBg {
    /*
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.733), rgba(188, 210, 219, 0.555));
    box-shadow: rgba(186, 211, 214, 0.658) 3px 7px 13px;
    */
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
    padding: 1em;
    padding-bottom: 30em;
}


.about h1 {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 20px;
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
}

#quoteA {
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
    margin-left: 12.5em;
}

#indentA {
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
    margin-left: 17em;
}

.quoteBunny {
    font-size: 1.3em;
}

.wrapper {
    margin-top: 2em;
    padding: 40px 40px;
    padding-right: 4em;
    position: relative;
}

.me {
    box-shadow: rgba(255, 255, 255, 0.658) 3px 7px 13px;
    width: 250px;
    height: 250px;

}

.me:hover {
    filter: grayscale(1);
}



.aboutText {
    margin-left: 4em;
    width: 100%;
}

.aboutText h2 span {
    color: rgb(0, 0, 0);

}

.aboutBlockContent {
    text-align: left;
    word-wrap: break-word;
    font-size: 17px;
    width: 100%;
}

.MinCV {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(134, 188, 233, 0.76);
    border: 2px solid #cfbedae7;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
}

.MinCV span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
.MinCV span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
.MinCV:hover span {
    padding-right: 35px;
}
.MinCV:hover span:after {
    opacity: 1;
    right: 0;
}
@media screen and (max-width:2000px) {


    .aboutBg {
        padding-bottom: 1em;
        width: 100%;
        
    }

    #quoteA {
        margin-left: 3em;
    }

    #indentA {
        margin-left: 7em;
    }
}

@media screen and (max-width:1346px) {
    .aboutBg {
        text-align: left;
        margin-bottom: 9em;
    }

    .me {
        margin-top: .1em;
        
        text-align: left;

    }

    .aboutText {
        margin-left: 3em;
    }

    #quoteA {
        margin-left: 3.5em;
    }

    #indentA {
        margin-left: 7em;
    }
}

@media screen and (max-width:1045px) {

    .aboutBg {
        display: block;
        padding-bottom: 5em;

        width: 80%;
        text-align: center;

    }

    .me {
        
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid rgba(58, 142, 238, 0.555);

    }

    .aboutText {
        margin: auto;
    }


    .about h1 {
        margin-top: 1.5em;
    }

    #quoteA {
        margin-left: 5.5em;
    }

    #indentA {
        margin-left: 9em;
    }

}



@media screen and (max-width:799px) {
    .aboutBg {
        width: 100% !important;
        padding-left: .5em;
        overflow: hidden;

    }

    .me {
        margin-left: 1px;
        margin-top: .2em;
        max-width: 100%;
        height: auto;


    }

    #quoteA {
        margin-left: 2em;
    }

    #indentA {
        margin-left: 6em;
    }

    .MinCV {
        position: relative;
        left: 40%;
        top: 1em;
    
        
    }

}