.footer {

    background-image: linear-gradient(to left, rgba(207, 190, 218, 0.733), rgba(58, 142, 238, 0.555));
    color: rgb(0, 0, 0);
    text-align: left;
}

.footerText a {
    color: black
}

.footerText a:hover {
    font-size: 17px;
}

.footer div {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.footer div div {
    display: inline-block;
}

.footer div div:last-child {
    text-align: right;
}

.footerText p {
    font-weight: bold;
}

.footerIcon {
    font-size: 20px;
}

@media screen and (max-width: 430px) {
    .footer div {
        grid-template-columns: 1fr;
    }

    .footer div div:last-child {
        text-align: center;
    }
}