.footer {

    background-image: linear-gradient(to left, rgba(207, 190, 218, 0.733), rgba(58, 142, 238, 0.555));
    box-shadow: rgb(160, 213, 235) 2px -6px 9px;
    color: rgb(0, 0, 0);
    text-align: left;

}


.footer div {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.footer div div {
    display: inline-block;
}

.footer div div:last-child {
    text-align: right;
}

@media screen and (max-width: 430px) {
    .footer div {
        grid-template-columns: 1fr;
    }
}