.homeBg {
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    object-fit: cover;
    overflow: hidden;
}


.bgContainer h1,
.bgContainer h2 {
    width: fit-content;
    top: .5em;
    overflow: hidden;
}

.text {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.904);
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    margin-left: 1.5em;
}

.undertext {
    color: rgb(37, 34, 34);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    top: -1em;
    margin-left: 5em;
}

.buttonContainer {
    position: absolute;
    top: 0;
    bottom: auto;
    margin: auto;
    left: 9.5em;
    right: auto;
}

.projectBtn {
    position: absolute;
    top: 16em;
    left: 10%;
    align-self: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-image: linear-gradient(to left,#cfbedae7, #3a8eeee5) 1;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    
}

.reflectBtn {
    position: absolute;
    top: 22em;
    left: 10%;
    align-self: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-image: linear-gradient(to left,#cfbedae7, #3a8eeee5) 1;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.aboutBtn {
    position: absolute;
    top: 19em;
    left: 10%;
    align-self: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-image: linear-gradient(to left,#cfbedae7, #3a8eeee5) 1;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.projectBtn span,
.reflectBtn span,
.aboutBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.projectBtn span:after,
.reflectBtn span:after,
.aboutBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.projectBtn:hover span,
.reflectBtn:hover span,
.aboutBtn:hover span {
    padding-right: 35px;

}

.projectBtn:hover span:after,
.reflectBtn:hover span:after,
.aboutBtn:hover span:after {
    opacity: 1;
    right: 0;
}


@media screen and (max-width: 820px) {
    .homeBg {
 width: 100%;
}

.projectBtn {

        top: 19em;
         overflow-x: hidden

    }

    .reflectBtn {

        top: 24em;
         overflow-x: hidden
        

    }

    .aboutBtn {

        top: 21.5em;
         overflow-x: hidden

    }

}
    



@media screen and (max-width: 650px) {
    .projectBtn,
    .reflectBtn,
    .aboutBtn {
        position: relative;
        left: 25%;
        transform: translateX(-50%);
    }

    .homeBg {
        padding-top: 8vh !important;
    }

    .projectBtn {

        top: 20em;

    }

    .reflectBtn {

        top: 20.5em;
        

    }

    .aboutBtn {

        top: 21em;

    }
    .text {
    text-align: center;
    margin-left: 0;
}

.undertext {
    
    margin: auto;
}

}