.singlePContainer {
    padding-top: 11vh !important;
}

.singePArticle {
    color: black;
    margin: auto;
    text-align: center;
    border-bottom: 5px solid rgba(58, 142, 238, 0.555);
    width: 60%;
    
}

.blockContainer {
    border-radius: 1px;
    margin: auto;
    margin-bottom: 5%;
    width: 70%;
    padding: 10px;
}

.singlePitem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.titleCard {
    border-radius: 12px;
    height: 45%;
    margin-top: 2%;
    padding: 0 20px;
    width: fit-content;
}

.singleTitle {
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
    margin: 4px;
    font-size: 40px;
}

.authorCard {
    display: flex;
    justify-content: center;
}

.authorText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: medium;
}


.blockContent {
    padding: 16px;
    margin-top: 10px;
    margin-left: 20px;
}

.blockContent p {
    padding-left: 6em;
    padding-right: 6em;
}

.blockContent h2 {
    padding-left: 3.4em;
}

.blockContent h3 {
    padding-left: 5.1em;
}

/*back button*/
.backBtn {
    text-decoration: none;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    width: 5%;
    font-size: 20px;
    cursor: pointer;
}

.backBtn:hover {
    color: rgba(26, 146, 194, 0.897)
}

@media screen and (max-width: 1000px) {
    .singlePContainer {
        padding-top: 8vh !important;
    }

    .blockContent p {
        padding-left: 1em;
        padding-right: 1em;
    }

    .singlePContainer {
        padding-top: 11vh !important;
    }

    .blockContent h3 {
        padding-left: .9em;
    }
    
    .blockContent h2 {
    padding-left: 0;
}

    .blockContainer { 
        width: 90%;
    }

}

@media screen and (max-width: 500px) { 
    .backBtn {
        display: none;
    }
}

 