.singlePContainer {
    /*border: 1px solid rgb(134, 188, 233);*/
    padding-top: 11vh !important;
}

.singePArticle {
    background-color: rgba(207, 190, 218, 0.733);
    color: black;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border-bottom-left-radius: 500px 100px;
    border-bottom-right-radius: 500px 100px;
}

.blockContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(160, 213, 235) 2px 6px 9px;
    border-radius: 1px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 60%;
    padding: 10px;
}

.singlePitem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.titleCard {
    border-radius: 12px;
    height: 40%;
    margin-top: 2%;
    padding: 0 20px;
    width: fit-content;
}

.singleTitle {
    font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
    margin: 4px;
    font-size: 40px;
}

.authorCard {
    display: flex;
    justify-content: center;
}

.authorText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: medium;
}


.blockContent {
    padding: 16px;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

.blockContent p {
    padding-left: 6em;
    padding-right: 6em;
}

.blockContent h3 {
    padding-left: 5em;
}

/*back button*/
.backBtn {
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.backBtn:hover {
    color: rgba(58, 142, 238, 0.555);
}

@media screen and (max-width: 1000px) {
    .singlePContainer {
        padding-top: 8vh !important;
    }

    .blockContent p {
        padding-left: 1em;
        padding-right: 1em;
    }

    .singlePContainer {
        /*border: 1px solid rgb(134, 188, 233);*/
        padding-top: 11vh !important;
    }

    .blockContent h3 {
        padding-left: .9em;
    }

    .blockContainer {
        width: 90%;
    }


}