/*Navigation bar */

.bg {
    background-image: linear-gradient(to left, rgba(207, 190, 218, 0.733), rgba(58, 142, 238, 0.555));
    padding: 40px;
    text-align: center;
    box-shadow: rgb(160, 213, 235) 2px 6px 9px;

}

.container {
    display: flex;
    margin-left: 60px;
    width: 29%;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none;
}

.nav {
    color: black;
    font-size: 20px;
    font-family: Arial,
        Helvetica,
        sans-serif;
    text-decoration: none;
}

.nav:hover {
    text-shadow: rgb(229, 236, 244) 2px 6px 9px;
    color: white;
}

.active {
    color: white;
    text-shadow: rgb(134, 188, 233) 2px 6px 9px;
}


/*Home page*/

.img {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    background-color: black;
    overflow: hidden !important;

}

/*vil ha en boks rund dem 3 tingern */
.bgContainer {
    margin-left: 5%;
    overflow: hidden !important;
}

.text {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.904);
    /* -webkit-text-fill-color: rgba(134, 188, 233, 0.527);
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.733);
    -webkit-text-stroke-width: 0.2px;
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    position: absolute;


}

.undertext {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    top: 20%;
}


.projectBtn {
    position: absolute;
    top: 40%;
    left: 10%;
    align-self: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: rgb(174, 190, 197) 2px 6px 20px;
}

.reflectBtn {
    position: absolute;
    top: 50%;
    left: 10%;
    align-self: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: rgb(174, 190, 197) 2px 6px 20px;
}

.aboutBtn {
    position: absolute;
    top: 60%;
    left: 10%;
    align-self: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: rgba(134, 188, 233, 0.76);
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: rgb(174, 190, 197) 2px 6px 20px;
}

.projectBtn span,
.reflectBtn span,
.aboutBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.projectBtn span:after,
.reflectBtn span:after,
.aboutBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.projectBtn:hover span,
.reflectBtn:hover span,
.aboutBtn:hover span {
    padding-right: 35px;
}

.projectBtn:hover span:after,
.reflectBtn:hover span:after,
.aboutBtn:hover span:after {
    opacity: 1;
    right: 0;
}

/*Reflection/blog page*/

.mainPost {
    padding: 20px;
}

.containerPost {

    width: 180px;
    height: 180px;
    margin-top: 100px;
    /*margin-top: 10%;
    margin-left: 20%;*/

}

.PostText {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

}

.PostText2 {

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

}

.postText3 {
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none !important;
    margin: auto;
    margin-left: 50%;
    padding: 7px 6px;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
}

.postGrid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;


}

.cards {
    border-radius: 10px;
    box-shadow: rgb(160, 213, 235) 2px 6px 9px;
    background-color: rgb(0, 0, 0);
    margin-left: 10%;


}

.postTitle {
    position: relative;
    justify-self: center;
    text-align: start;
    bottom: 20%;
    left: 10%;
}

/*Single post*/

.singlePContainer {
    /*border: 1px solid rgb(134, 188, 233);*/
    margin-top: 10px;
}

.singePArticle {
    background-color: rgba(207, 190, 218, 0.733);
    color: black;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border-bottom-left-radius: 500px 100px;
    border-bottom-right-radius: 500px 100px;
}

.blockContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(160, 213, 235) 2px 6px 9px;
    border-radius: 1px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 60%;
    padding: 10px;
}

.singlePHeader {
    position: relative;

}

.singlePitem {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;


}

.titleCard {
    border-radius: 12px;
    height: 40%;
    margin-top: 2%;
    padding: 20px;
}

.singleTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4px;
    font-size: 40px;
}

.authorCard {
    display: flex;
    justify-content: center;
}

.authorText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: medium;
}


.blockContent {
    padding: 16px;
    margin-top: 10px;
    margin-left: 20px;
}

/* Projects*/

.mainProjectContainer {
    padding: 12px;
    min-height: auto;
}

.projectSection {
    height: auto;
    width: auto;
}

.pageTitle {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pageSub {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.pageText {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}

.projectGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

}

.projectContentCard {
    position: relative;
    box-shadow: rgba(30, 31, 31, 0.658) 5px 9px 15px;
    background-color: rgba(160, 213, 235, 0.527);
    padding: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.projectTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
}

.projectTitle a {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectTitle:hover,
.link:hover {
    color: rgb(66, 87, 97);
}

.information {
    color: rgb(0, 0, 0);
    font-size: medium;
    margin-left: 20px;
}

.description {
    margin: 6px;
    font-size: 20px;
    color: black;
}

.link {
    color: rgb(41, 88, 219);
    font-size: large;
    text-decoration: none;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
    background-color: rgb(134, 188, 233);
    color: rgb(0, 0, 0);
    text-align: center;
}


/* About me page */

.about {
    position: relative;
}

.about h1 {
    text-align: center;
    margin-top: 3%;
}

.i {
    padding: 40px 40px;
    position: relative;
}

.me {
    box-shadow: rgba(30, 31, 31, 0.658) 5px 9px 15px;
}


.aboutBg {
    display: flex;
    padding: 20px;
    background-color: rgb(134, 188, 233);
    box-shadow: rgba(30, 31, 31, 0.658) 5px 9px 15px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.aboutText {
    margin-left: 30px;
}

.aboutText h2 span {
    color: rgb(66, 87, 97);
    text-decoration: underline;
}